{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <head>
            <style>
                p{
                height: 40px;
                margin-top: -5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: large;
                
            }
            </style>
        </head>
        <h1 class="pt-5">{{ item.Topic }}</h1>
        <p>{{ item.description }}</p>
    </div>
        <img src="/media/{{ item.image }}">
{% endblock content %}